absl-py==0.5.0
astor==0.7.1
audioread==2.1.6
cycler==0.10.0
decorator==4.3.0
gast==0.2.0
grpcio==1.15.0
h5py==2.8.0
inflect==0.2.5
joblib==0.12.5
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
librosa==0.5.1
llvmlite==0.25.0
Markdown==3.0.1
matplotlib==2.0.2
numba==0.40.0
numpy==1.15.2
protobuf==3.6.1
pyparsing==2.2.2
python-dateutil==2.7.3
pytz==2018.5
resampy==0.2.1
scikit-learn==0.20.0
scipy==1.1.0
six==1.11.0
tensorboard==1.11.0
tensorflow==1.11.0
termcolor==1.1.0
tqdm==4.11.2
Unidecode==0.4.20
Werkzeug==0.14.1
